 <!-- FlatFy Theme - Andrea Galanti /-->
 <!doctype html>
 <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
 <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
 <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
 <!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
 <!--[if gt IE 9]><!--> <html> <!--<![endif]-->
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="The Series is a myriad of workshops for students to learn technical skills like electronics, prototyping, user interface design, internet of things, etc.">
  <meta name="author" content="David Sanchez">
  <!--Favicon -->
  <link rel="icon" type="image/png" href="static/img/favicon.png">

  <title>SugarSafe&trade;. Predict Your Health.</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Google Web Font -->
  <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

  <!-- Custom CSS-->
  <link href="static/css/general.css" rel="stylesheet">

  <!-- Owl-Carousel -->
  <link href="static/css/custom.css" rel="stylesheet">
  <link href="static/css/owl.carousel.css" rel="stylesheet">
  <link href="static/css/owl.theme.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/animate.css" rel="stylesheet">
  <link href="static/css/confidence.css" rel="stylesheet">

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="static/css/magnific-popup.css">

  <script src="static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body id="home">

  <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- FullScreen -->
  <div class="intro-header">
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
      <div class="button_down ">
        <a class="static/imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#about"> <img class="static/img_scroll" src="static/img/icon/circle2.png" alt=""> </a>
      </div>
    </div>
  </div>

  <!-- NavBar-->
  <nav class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#home" class="navbar-brand"><span style="color:#3b3a3c">sugar</span><span style="color:#6d6e70">safe</span></a>
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">

          <li class="menuItem"><a href="#about">About</a></li>
          <li class="menuItem"><a href="#app">App</a></li>
          <li class="menuItem"><a href="#team">Team</a></li>
          <li class="menuItem"><a href="#join">Thanks</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- What is -->
  <div id="about" class="content-section-b" style="border-top: 0">
    <div class="container">

      <div class="col-md-8 col-md-offset-2 text-center wrap_title">
        <h2>What is SugarSafe?</h2>
        <h3 class="lead" style="color:#666; margin-top:0">SugarSafe&trade; uses state-of-the-art machine learning models to make predictions about your blood glucose levels based on your activity.</h3>
      </div>

      <div class="row">
        <div class="col-sm-3 wow fadeInDown text-center">
          <img class="rotate" width=50% href="#electronics" src="static/img/icon/search.svg" alt="Generic placeholder image">
          <h3>Predict</h3>
          <p class="sub-title lead3">We help you better manage diabetes by predicting your glucose levels an hour in advance.</p>

          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-3 wow fadeInDown text-center">
          <img  class="rotate" width=50% href="#prototype" src="static/img/icon/browser.svg" alt="Generic placeholder image">
          <h3>Personalized</h3>
          <p class="sub-title lead3">We use glucose, food, and exercise logs from the OneTouch API to build a personalized glucose monitor for you.</p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-3 wow fadeInDown text-center">
          <img  class="rotate" width=50% href="#design" src="static/img/icon/laptop.svg" alt="Generic placeholder image">
          <h3>Stay Informed</h3>
          <p class="sub-title lead3">We keep you informed about the glucose level prediction confidence. We tell you when we are not sure.</p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-3 wow fadeInDown text-center">
          <img  class="rotate" width=50% href="#iot" src="static/img/icon/watch.svg" alt="Generic placeholder image">
          <h3>Smart Apps</h3>
          <p class="sub-title lead3">Get glucose predictions on your wearable devices to plan the day and stay SugarSafe&trade;.</p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
    </div>
  </div>
  <!-- Use it -->
  <div id ="app" class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 pull-right wow fadeInRightBig">
        </div>
        <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
          <h3 class="section-heading"><img class="img-responsive" class="bannerimage" src="static/img/apptitle.png" alt=""></h3>
        </div>
      </div>

      <div class="sub-title lead3">Select a patient: </div><br>
      <div id="patient-select" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="PatientSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Patient
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a id="patient5"><i class="fa fa-user"></i>  &nbsp;Patient 5</a></li>
          <li><a id="patient6"><i class="fa fa-user"></i>  &nbsp;Patient 6</a></li>
          <li><a id="patient9"><i class="fa fa-user"></i>  &nbsp;Patient 9</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="widget col-sm-12 col-md-8 wow" data-animation-delay="200">
          <div id="viz"></div>
        </div>
        <div id="glucose" class="widget col-sm-12 col-md-3 wow" data-animation-delay="100">
          <div class="glocose-title">
            <h5>Predicted Glucose Level (mg/dL):</h5>
          </div>
          <div id="glucose-value">
            <div id="raw_value">
              <h1 style="glucose-value"></h1>
            </div>
            <h4 style="glucose-value">SugarSafe&trade; Prediction</h4>
          </div>
        </div>
      </div>
    <!-- /.container -->
    </div>
  </div>

  <div class="header-unit">
      <div id="video-container">
        <video autoplay loop class="fillWidth">
          <source src="http://drive.google.com/uc?export=view&id=0BxapKwsLLFoQUUlPVHpiNWtqRVU" type="video/mp4"/>
          <source src="http://drive.google.com/uc?export=view&id=0BxapKwsLLFoQYVlKcEkyc0JzVTA" type="video/ogg"/>
          <source src="http://drive.google.com/uc?export=view&id=0BxapKwsLLFoQOEFlQXZKWnJrYWc" type="video/webm"/>
          Your browser does not support the video tag.
        </video>
      </div><!-- end video-container -->
    </div><!-- end .header-unit -->
  <!-- /.container -->

  <!-- Credits -->
  <div id="team" class="content-section-c">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2 style="color:#fff">Team</h2>
          <p class="lead" style="color:#fff; margin-top:0">We have an awesome team of hackers!</p>
        </div>

        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/dan.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Dan Rieman</h3>
              <p style="color:#fff; margin-top:0"> Dan, a Penn student, loves Data Science and specializes in Machine Learning Algorithms. At Hackathons, Soylent is his go-to meal. <br> <a href="http://github.com/danrieman" style="color:#fff"><i class="fa fa-github-square"></i> /danrieman</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/gaurav.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Gaurav Trivedi</h3>
              <p style="color:#fff; margin-top:0"> Gaurav, a Pitt student, is a full-stack developer who specializes in Biomedical Informatics and Intelligent Systems. Smiling in photos is not his forte. <br><a href="http://github.com/trivedigaurav" style="color:#fff"><i class="fa fa-github-square"></i> /trivedigaurav</a> </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row tworow">
        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/alex.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Alex Tsankov</h3>
              <p style="color:#fff; margin-top:0"> Alex is a full-stack developer who studies Computer Engineering at CU-Boulder. Sucks at coming up with interesting facts about himself. <br><a href="http://github.com/antsankov" style="color:#fff"><i class="fa fa-github-square"></i> /antsankov</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/madhur.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Madhur Malhotra</h3>
              <p style="color:#fff; margin-top:0"> Madhur is a front-end developer hailing from (and to) Pitt who also loves do design user interfaces. PennApps XIII is his first MLH Hackathon! <br><a href="http://github.com/madhurmalhotra" style="color:#fff"><i class="fa fa-github-square"></i> /madhurmalhotra</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Banner Download -->
  <div  id="join" class="content-section-d">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title white">
          <h2 style="color:#ea0d6d">Thank you!</h2>
          <p class="lead" style="color:#666; margin-top:0">Help us predict and improve your health.</p>
        </div>
        <div class="mockup-content">
          <!-- <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
            <button type="button "><span>Thanks for listening</span></button>
            <div class="morph-content">
              <div>
                <div class="content-style-form content-style-form-4 ">
                  <h2 class="morph-clone">Thanks for listening</h2>
                  <form>
                    <p><label>Your Email</label><input type="text"/></p>
                    <p><span class="btn btn-embossed btn-primary" style="margin-top:10px">Thanks for listening</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.3.0.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script src="static/js/script.js"></script>
    <!-- StikyMenu -->
    <script src="static/js/stickUp.min.js"></script>
    <script type="text/javascript" src="static/js/viz.js"></script>
    <script type="text/javascript">
    jQuery(function($) {
      $(document).ready( function() {
        $('.navbar-default').stickUp();

      });
    });

    $('#patient5').click(function(e) {
      $.ajax({url: '/patient/5', success: function(result){
        $( "#raw_value" ).html('<h1>' + result + '</h1>')
        makeGraph('data2')
      }});
      e.preventDefault();// prevent the default anchor functionality
    });

    $('#patient6').click(function(e) {
      $.ajax({url: '/patient/6', success: function(result){
        $( "#raw_value" ).html('<h1>' + result + '</h1>')
        makeGraph('data')
      }});
    });

    $('#patient9').click(function(e) {
      $.ajax({url: '/patient/9', success: function(result){
        $( "#raw_value" ).html('<h1>' + result + '</h1>')
        makeGraph('data2')
      }});
    });
    </script>

    <!-- Smoothscroll -->
    <script type="text/javascript" src="static/js/jquery.corner.js"></script>
    <script type="text/javascript" src="static/js/wow.min.js"></script>
    <script type="text/javascript" src="static/js/classie.js"></script>
    <script type="text/javascript" src="static/js/uiMorphingButton_inflow.js"></script>
    <script type="text/javascript" src="static/js/jquery.magnific-popup.js"></script>

    <script>
      new WOW().init();
    </script>
  </body>

</html>
