 <!-- FlatFy Theme - Andrea Galanti /-->
 <!doctype html>
 <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
 <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
 <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
 <!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
 <!--[if gt IE 9]><!--> <html> <!--<![endif]-->
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="The Series is a myriad of workshops for students to learn technical skills like electronics, prototyping, user interface design, internet of things, etc.">
  <meta name="author" content="David Sanchez">
  <!--Favicon -->
  <link rel="icon" type="image/png" href="static/img/favicon.png">

  <title>SugarSafe&trade;. Predict Your Health.</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Google Web Font -->
  <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

  <!-- Custom CSS-->
  <link href="static/css/general.css" rel="stylesheet">

  <!-- Owl-Carousel -->
  <link href="static/css/custom.css" rel="stylesheet">
  <link href="static/css/owl.carousel.css" rel="stylesheet">
  <link href="static/css/owl.theme.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/animate.css" rel="stylesheet">
  <link href="static/css/confidence.css" rel="stylesheet">

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="static/css/magnific-popup.css">

  <script src="static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body id="home">

  <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- FullScreen -->
  <div class="intro-header">
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
      <div class="button_down ">
        <a class="static/imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#about"> <img class="static/img_scroll" src="static/img/icon/circle2.png" alt=""> </a>
      </div>
    </div>
  </div>

  <!-- NavBar-->
  <nav class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#home" class="navbar-brand"><span style="color:#3b3a3c">sugar</span><span style="color:#6d6e70">safe</span></a>
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">

          <li class="menuItem"><a href="#about">About</a></li>
          <li class="menuItem"><a href="#app">App</a></li>
          <li class="menuItem"><a href="#team">Team</a></li>
          <li class="menuItem"><a href="#join">Thanks</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- What is -->
  <div id="about" class="content-section-b" style="border-top: 0">
    <div class="container">

      <div class="col-md-8 col-md-offset-2 text-center wrap_title">
        <h2>What is SugarSafe?</h2>
        <h3 class="lead" style="color:#666; margin-top:0">The Series is a set of four workshops for students to learn skills like electronics, prototyping, graphic design, and internet of things.</h3>
      </div>

      <div class="row">
        <div class="col-sm-3 wow fadeInDown text-center">
          <img class="rotate" width=50% href="#electronics" src="static/img/icon/search.svg" alt="Generic placeholder image">
          <h3>Electronics</h3>
          <p class="sub-title lead3">Learn concepts of electrical engineering along with technical skills like breadboarding, arduino microcontrollers, and soldering.</p>

          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-3 wow fadeInDown text-center">
          <img  class="rotate" width=50% href="#prototype" src="static/img/icon/browser.svg" alt="Generic placeholder image">
          <h3>Prototyping</h3>
          <p class="sub-title lead3">Learn concepts of prototyping along with technical skills like ideation, physical prototyping, solidworks, and 3D printing.</p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-3 wow fadeInDown text-center">
          <img  class="rotate" width=50% href="#design" src="static/img/icon/laptop.svg" alt="Generic placeholder image">
          <h3>Design</h3>
          <p class="sub-title lead3">Learn concepts of design along with technical skills like graphic design, web design, user interface design, and user experience design.</p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-3 wow fadeInDown text-center">
          <img  class="rotate" width=50% href="#iot" src="static/img/icon/watch.svg" alt="Generic placeholder image">
          <h3>IOT</h3>
          <p class="sub-title lead3">Learn the novel concept of Internet of Things along with a variety of technologies that make it possible like the Intel Edison.</p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
    </div>
  </div>
  <!-- Use it -->
  <div id ="app" class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 pull-right wow fadeInRightBig">
        </div>
        <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
          <h3 class="section-heading"><img class="img-responsive" class="bannerimage" src="static/img/apptitle.png" alt=""></h3>
          <div class="sub-title lead3">Select a patient and we'll predict shit!</div><br>
          <!-- /.panel-heading -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="PatientSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Patient
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a id=patient5>Patient 5</a></li>
              <li><a id=patient6>Patient 6</a></li>
              <li><a id=patient9>Patient 9</a></li>
            </ul>
          </div>
          <!-- /.panel-body -->
          <!-- /.panel -->
        </div>

        <div id=viz class="col-lg-6 wow fadeInRightBig d3Frame"  data-animation-delay="200">
        </div>
        <script type="text/javascript"charset="utf-8"src="static/js/viz.js"></script>

      </div>
    </div>
    <!-- /.container -->
  </div>



  <!-- Credits -->
  <div id="team" class="content-section-c">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2 style="color:#fff">Team</h2>
          <p class="lead" style="color:#fff; margin-top:0">Our squad is pretty lit!</p>
        </div>

        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/dan.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Dan </h3>
              <p style="color:#fff; margin-top:0"> Assistant Professor, Department of Civil and Environmental Engineering. <a href="mailto:dps22@pitt.edu" style="color:#ea0d6d">Get in touch!</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/gaurav.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Gaurav </h3>
              <p style="color:#fff; margin-top:0"> A center of excellence in sustainable engineering focusing on the design of sustainable solutions. <a href="http://www.engineeringx.pitt.edu/MCSI/" style="color:#ea0d6d">More Info.</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row tworow">
        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/alex.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Alex </h3>
              <p style="color:#fff; margin-top:0"> Constellation is a leading supplier of power, natural gas, and renewable energy products across the US. <a href="http://www.constellation.com/pages/default.aspx" style="color:#ea0d6d">More Info.</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box text-center">
              <img  href="#prototype" src="static/img/madhur.png" style="margin-left: -15px;" alt="Generic placeholder image">
            </div>
            <div class="col-md-8 box-ct">
              <h3 style="color:#fff"> Madhur </h3>
              <p style="color:#fff; margin-top:0"> A center of excellence in sustainable engineering focusing on the design of sustainable solutions. <a href="http://www.engineeringx.pitt.edu/MCSI/" style="color:#ea0d6d">More Info.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Banner Download -->
  <div  id="join" class="content-section-d">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title white">
          <h2 style="color:#ea0d6d">Thank you!</h2>
          <p class="lead" style="color:#666; margin-top:0">Help us predict and improve your health.</p>
        </div>
        <div class="mockup-content">
          <!-- <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
            <button type="button "><span>Thanks for listening</span></button>
            <div class="morph-content">
              <div>
                <div class="content-style-form content-style-form-4 ">
                  <h2 class="morph-clone">Thanks for listening</h2>
                  <form>
                    <p><label>Your Email</label><input type="text"/></p>
                    <p><span class="btn btn-embossed btn-primary" style="margin-top:10px">Thanks for listening</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.3.0.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script src="static/js/script.js"></script>
    <!-- StikyMenu -->
    <script src="static/js/stickUp.min.js"></script>
    <script type="text/javascript">
    jQuery(function($) {
      $(document).ready( function() {
        $('.navbar-default').stickUp();

      });
    });

    $('#patient6').click(function(e) {
      alert('alerted');
        e.preventDefault();// prevent the default anchor functionality
      });

    $('#patient5').click(function(e) {
      alert('alerted');
        e.preventDefault();// prevent the default anchor functionality
      });



    $('#patient9').click(function(e) {
      alert('alerted');
        e.preventDefault();// prevent the default anchor functionality
      });

    </script>

    <!-- Smoothscroll -->
    <script type="text/javascript" src="static/js/jquery.corner.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script>
    new WOW().init();
    </script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/uiMorphingButton_inflow.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="static/js/jquery.magnific-popup.js"></script>
  </body>

  </html>
