 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="The Series is a myriad of workshops for students to learn technical skills like electronics, prototyping, user interface design, internet of things, etc.">
    <meta name="author" content="David Sanchez">
    <!--Favicon -->
     <link rel="icon" type="image/png" href="img/favicon.png">

    <title>SugarSafe&trade;. Predict Your Health.</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="css/custom.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="css/magnific-popup.css"> 
	
	<script src="js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#about"> <img class="img_scroll" src="img/icon/circle2.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#home" class="navbar-brand"><span style="color:#3b3a3c">sugar</span><span style="color:#6d6e70">safe</span></a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#about">About</a></li>
					<li class="menuItem"><a href="#app">App</a></li>
					<li class="menuItem"><a href="#team">Team</a></li>
					<li class="menuItem"><a href="#join">Join Us</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="about" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-8 col-md-offset-2 text-center wrap_title">
				<h2>What is SugarSafe?</h2>
				<h3 class="lead" style="color:#666; margin-top:0">The Series is a set of four workshops for students to learn skills like electronics, prototyping, graphic design, and internet of things.</h3>
			</div>
			
			<div class="row">
				<div class="col-sm-3 wow fadeInDown text-center">
				  <img class="rotate" width=50% href="#electronics" src="img/icon/search.svg" alt="Generic placeholder image">
				  <h3>Electronics</h3>
				  <p class="sub-title lead3">Learn concepts of electrical engineering along with technical skills like breadboarding, arduino microcontrollers, and soldering.</p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-3 wow fadeInDown text-center">
				  <img  class="rotate" width=50% href="#prototype" src="img/icon/browser.svg" alt="Generic placeholder image">
				   <h3>Prototyping</h3>
				   <p class="sub-title lead3">Learn concepts of prototyping along with technical skills like ideation, physical prototyping, solidworks, and 3D printing.</p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-3 wow fadeInDown text-center">
				  <img  class="rotate" width=50% href="#design" src="img/icon/laptop.svg" alt="Generic placeholder image">
				   <h3>Design</h3>
					<p class="sub-title lead3">Learn concepts of design along with technical skills like graphic design, web design, user interface design, and user experience design.</p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-3 wow fadeInDown text-center">
				  <img  class="rotate" width=50% href="#iot" src="img/icon/watch.svg" alt="Generic placeholder image">
				   <h3>IOT</h3>
					<p class="sub-title lead3">Learn the novel concept of Internet of Things along with a variety of technologies that make it possible like the Intel Edison.</p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
		</div>
	</div>
	<!-- Use it -->
    <div id ="app" class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " class="bannerimage" src="img/electronics.jpg" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">App</h3>
					<div class="sub-title lead3">Learn concepts of electrical engineering along with technical skills like breadboarding, arduino microcontrollers, and soldering.</div><br>
                    <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Session</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Breadboarding</td>
                                            <td>February 12, 2016</td>
                                            <td>1:00-4:00 PM</td>
                                        </tr>
                                        <tr>
                                            <td>Arduino</td>
                                            <td>February 19, 2016</td>
                                            <td>1:00-3:00 PM</td>

                                        </tr>
                                        <tr>
                                            <td>Soldering</td>
                                            <td>February 26, 2016</td>
                                            <td>1:00-4:00 PM</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
					 <p><a class="btn btn-embossed btn-primary" href="https://pitt.co1.qualtrics.com/jfe/form/SV_8x3fqBUSPCdmYuh" target="_blank" role="button">Register</a></p>
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

    <!-- Credits -->
    <div id="team" class="content-section-c">
        <div class="container">
            <div class="row">
            
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2 style="color:#fff">Team</h2>
                <p class="lead" style="color:#fff; margin-top:0">Our squad is pretty lit!</p>
             </div>
             
                <div class="col-sm-6  block wow bounceIn">
                    <div class="row">
                        <div class="col-md-4 box text-center"> 
                            <img  href="#prototype" src="img/dan.png" style="margin-left: -15px;" alt="Generic placeholder image">
                        </div>
                        <div class="col-md-8 box-ct">
                            <h3 style="color:#fff"> Dan </h3>
                            <p style="color:#fff; margin-top:0"> Assistant Professor, Department of Civil and Environmental Engineering. <a href="mailto:dps22@pitt.edu" style="color:#ea0d6d">Get in touch!</a> </p>
                        </div>
                  </div>
              </div>
              <div class="col-sm-6 block wow bounceIn">
                    <div class="row">
                      <div class="col-md-4 box text-center"> 
                        <img  href="#prototype" src="img/gaurav.png" style="margin-left: -15px;" alt="Generic placeholder image">
                      </div>
                      <div class="col-md-8 box-ct">
                        <h3 style="color:#fff"> Gaurav </h3>
                        <p style="color:#fff; margin-top:0"> A center of excellence in sustainable engineering focusing on the design of sustainable solutions. <a href="http://www.engineeringx.pitt.edu/MCSI/" style="color:#ea0d6d">More Info.</a></p> 
                      </div>
                    </div>
              </div>
          </div>
          
          <div class="row tworow">
                <div class="col-sm-6  block wow bounceIn">
                    <div class="row">
                        <div class="col-md-4 box text-center"> 
                            <img  href="#prototype" src="img/alex.png" style="margin-left: -15px;" alt="Generic placeholder image">
                        </div>
                        <div class="col-md-8 box-ct">
                            <h3 style="color:#fff"> Alex </h3>
                            <p style="color:#fff; margin-top:0"> Constellation is a leading supplier of power, natural gas, and renewable energy products across the US. <a href="http://www.constellation.com/pages/default.aspx" style="color:#ea0d6d">More Info.</a> </p>
                        </div>
                  </div>
              </div>
              <div class="col-sm-6 block wow bounceIn">
                    <div class="row">
                      <div class="col-md-4 box text-center"> 
                        <img  href="#prototype" src="img/madhur.png" style="margin-left: -15px;" alt="Generic placeholder image">
                      </div>
                      <div class="col-md-8 box-ct">
                        <h3 style="color:#fff"> Madhur </h3>
                        <p style="color:#fff; margin-top:0"> A center of excellence in sustainable engineering focusing on the design of sustainable solutions. <a href="http://www.engineeringx.pitt.edu/MCSI/" style="color:#ea0d6d">More Info.</a></p> 
                      </div>
                    </div>
              </div>
          </div>
        </div>
    </div>

    <!-- Banner Download -->
		<div  id="join" class="content-section-d">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center wrap_title white">
				<h2 style="color:#ea0d6d">We Hope You Liked It!</h2>
				<p class="lead" style="color:#666; margin-top:0">Help us predict and improve your health!</p>
			</div>
			<div class="mockup-content">
					<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
						<button type="button "><span>Join Us Now</span></button>
						<div class="morph-content">
							<div>
								<div class="content-style-form content-style-form-4 ">
									<h2 class="morph-clone">Join Us Now</h2>
									<form>
										<p><label>Your Email</label><input type="text"/></p>
										<p><a class="btn btn-embossed btn-primary" href="https://pitt.co1.qualtrics.com/jfe/form/SV_8x3fqBUSPCdmYuh" style="margin-top:10px" role="button">Join Us Now</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>	


    <footer>
      <div class="container" id="contact">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Contact Us</h3>
            <p>If you have any questions, contact <a href="">Dan Rieman</a><br><br>
              Acknowledgements:<br>
              <a href="https://github.com/twbs/bootstrap">Twitter Bootstrap</a><br>
              <a  href="http://www.andreagalanti.it/lab/flatfy/" target="_blank">Flatfy</a><br/>
           <br>
			Made with <i class="fa fa-heart" style="color:#ea0d6d"></i> by <a href="http://madhur.xyz">Madhur Malhotra</a>
        </p>

		   
	   
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">PennApps XIII</h3>
              <ul>
                <li>University of Pennsylvania</li>
                <li>107 Towne Bldg</li>
                <li>Philadelphia, PA</li>
                <li>19104</li>
              </ul>
              Visit <a href="http://2016s.pennapps.com/" target="_blank">Penn Apps XIII</a> for more information
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/script.js"></script>
	<!-- StikyMenu -->
	<script src="js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="js/jquery.corner.js"></script> 
	<script src="js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="js/classie.js"></script>
	<script src="js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="js/jquery.magnific-popup.js"></script> 
</body>

</html>
